# OSX file system stuff
.DS_Store

#Visual studio code stuff
.vs

#pyCharm stuff
.idea/

venv/

src/stemmer/*.txt

src/stemmer/logs/*.txt

src/__pycache__/

src/stemmer/__pycache__/
